<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sg.freeple.member.coupon.mapper.MemberCouponSQLMapper">
	
	<select id="selectAllCouponByMemberNo" resultType="com.sg.freeple.vo.FP_MemberCouponVo">
		SELECT * FROM FP_MEMBERCOUPON WHERE MB_NO = #{mb_no} AND COUPON_IS = 'Y'
	</select>
	
	<select id="selectOneCouponByCouponNo" resultType="com.sg.freeple.vo.FP_MemberCouponVo">
		SELECT * FROM FP_MEMBERCOUPON WHERE coupon_no=#{coupon_no}
	</select>
	
	<select id="selectCouponPriceByCouponNo" resultType="int">
		SELECT SALE_PRICE FROM FP_MEMBERCOUPON WHERE COUPON_NO = #{coupon_no}
	</select>
	
	<update id="updateCouponUnavailableByCouponNo">
		UPDATE FP_MEMBERCOUPON SET COUPON_IS = 'N' WHERE COUPON_NO = #{coupon_no}
	</update>
	
</mapper>