@charset "UTF-8";

.cZgpqN {
    display: inline-flex;
    font-weight: bold;
    font-size: 23px;
    line-height: 26px;
    letter-spacing: -0.54px;
    color: rgb(51, 51, 51);
}

.cUDkmC {
    margin-top: 2px;
    color: rgb(170, 170, 170);
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.36px;
}

.eZGjgL {
    width: 50px;
    height: 50px;
    line-height: normal;
    padding: 0px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 30px;
    outline: none;
}