<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sg.freeple.manager.login.mapper.ManagerRestSQLMapper">

	<select id="selectByIdAndPw" resultType="com.sg.freeple.vo.FP_ManagerVo">
		SELECT * 
		FROM FP_Manager 
		WHERE mng_id = #{mng_id} 
		AND mng_pw = #{mng_pw}
	</select>

</mapper>